@import "base/s";
@import "base/foundation-grid";
@import "base/grid-extends";

/*Layout */
@import "base/layouts/content-sidebar";
@import "base/layouts/content-sidebar-sidebar";
@import "base/layouts/sidebar-content";
@import "base/layouts/sidebar-content-sidebar";
@import "base/layouts/sidebar-sidebar-content";

/* Collection of Mixins */
@import "modules/mixins/maths";
@import "modules/mixins/shapes";
@import "modules/mixins/misc";
@import "modules/mixins/typography";

@import "modules/mixins/media-queries";

/* Variables */
@import "modules/variables";

/* General Styling */
@import "partials/layout";
@import "partials/typography";

@import "partials/header";
@import "partials/menus";
@import "partials/footer";
@import "partials/buttons";
@import "partials/forms";
@import "partials/media";
@import "partials/hacks";

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body { 
    padding: 0; 
    background: #fff;
    margin: 0 .5em 0 .5em;
} 
