.site-title{
    margin-bottom: 0em;
    
    a{
        font-size: 1.5em;
        text-decoration: none;
        color: $link-color;
        font-weight: 100;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.site-description{
    font-size: 1em;
    font-weight: 100;
    margin-top: 0em;
}