.hentry {
    margin: 0 0 1.5em;
}
.entry-meta {
    clear: both;
}
.byline {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Asides */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

ul {
    list-style: none;
}

ul, ol {
    margin: 0em;
    padding: 1em;
}
