/////////////////////
//      Layout     //
/////////////////////




/////////////////////
//    Typography   //
/////////////////////

// Font weights
    $light-weight:             100;
    $light-regular-weight:     300;
    $regular-weight:           400;
    $bold-weight:              600;
    $base-font-weight:  $regular-weight;

// Font Families
$base-font-family:      sans-serif;
$fixed-font-family:     monospace;
$title-font-stack:      "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Sizes
$doc-font-size:         16px;
$doc-line-height:       1.4;
$fixed-font-size:       85%;
$title-letter-spacing:  .07em;
$header-font-weight:    $bold-weight;


// Colors
$title-color:           #555555;
$link-color:            #2980b9;
$visited-link-color:    #9b59b6;